<!--<pre>ordersList: {{ordersList | json}}</pre>-->
<div *ngIf="ordersListArray && ordersListArray.length; else emptyOrdersList">
  <div *ngFor="let order of ordersListArray, let i = index" class="border rounded border-gray-200 mb-4 p-2">
    <div class="flex flex-col text-gray-800">
      <div class="text-lg font-semibold">{{order.key}}</div>
      <div class="flex flex-row text-md text-gray-600">
        <div class="mr-4">
          <span class="font-normal">{{order.value.created | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <div class="mr-4">
          <span class="font-semibold">{{order.value.totalSum | currency}}</span>
        </div>
        <div class="mr-4">{{order.value.user?.firstName}} {{order.value.user?.lastName}}, {{order.value.user?.city}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyOrdersList>
  <div class="text-semibold text-xl text-gray-800 text-center">Orders list is empty.</div>
  <div class="text-semibold text-lg text-gray-600 text-center">Create some Orders firstly.</div>
</ng-template>
