.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .main-col {

    &.left {
      width: 70%;
    }

    &.right {
      width: 28%;
    }
  }
}
