<ng-container *ngIf="cartService.cartProducts.length; else emptyCart">
  <h3 appHighlight="rgba(0,0,255,.1)">
    {{ cartService.totalQuantity }} items in Cart, with total price: {{ cartService.totalSum }}
  </h3>
  <div *ngFor="let product of cartService.cartProductsList; let i = index">
    <app-cart-item
      [item]="product"
      [isOdd]="isItemOdd(i)"
      (itemAdded)="onItemAdded($event)"
      (itemRemoved)="onItemRemoved($event)"
      (allItemsRemoved)="onIllItemsRemoved($event)"
    ></app-cart-item>
  </div>
</ng-container>

<ng-template #emptyCart>
  <h3>Cart is empty, did you forgot to buy something?</h3>
</ng-template>
