<ng-container *ngIf="cartService.productsList.length; else emptyCart">
  <h3>{{ cartService.cartInfo.totalItems }} items in Cart, with total price: {{ cartService.cartInfo.totalPrice }}</h3>
  <div *ngFor="let product of cartService.cartProductsList">
    <app-cart-item
      [item]="product"
      (itemAdded)="onItemAdded($event)"
      (itemRemoved)="onItemRemoved($event)"
      (allItemsRemoved)="onIllItemsRemoved($event)"
    ></app-cart-item>
  </div>
</ng-container>

<ng-template #emptyCart>
  <h3>Cart is empty, did you forgot to buy something?</h3>
</ng-template>
