.product-item {
  &.active {
    background-color: #e7f7fa;
  }

  .product-item-image-wrapper {
    span {
      min-height: 200px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
